*{
    font-family: Arial, Helvetica, sans-serif;
}
footer, body, header{
    background-color: antiquewhite;
}

/*FACTURA*/
table{
    border-color: black;
    color: black;
    columns: 25%;
    background-color:white;
    border-style: solid;
    border-width: 5px;
    border-collapse: collapse;
    white-space: pre-line;
    table-layout: fixed;
    column-fill: balance;
    width: 100%;
}

th, tr, td {
    border-style: solid;
    border-width: 2px;
    text-align: left;
}

th {
    padding: 10px;
    background-color: darkgray;
}

td {
    padding: 5px;
    word-wrap: break-word;
    background-color: white;
}

td.number{
    font-family: monospace;
    text-align: right;
    text-size-adjust: auto;
}

td.content{
    background-color: darkgray;
}

footer{
    text-align: right;
}

/*GATOS*/
a{
    text-align: center;
    color: darkmagenta;
}
/*
p{
    text-align: center;
    color: crimson;
}
*/
nav{
    text-align: center;
}

nav>ul>li{
    display: inline-block;
    padding: 15px;
}

section{
    text-align: center;
    color: crimson;
    vertical-align: middle;
    justify-content: center;
}

img{
    width: 500px;
}

video{
    width: 500px;
}
